/* Add CSS Styling */
.odd {
    background-color: #F9B1ED;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
#second {
    color: rgb(0,32,240);
    font-size: 36px;
}
#third {
    font-size: 24px;
}
#forth {
    background-color: #8FE4B1;
    font-size: 24px;
    font-weight: bold;
}